@import fonts

$app-color: #848ccf

html
    font-family: Space Grotesk, Segoe UI

body
    &::-webkit-scrollbar
        width: 8px
    
    &::-webkit-scrollbar-track
        border-left: 1px solid $app-color
    
    &::-webkit-scrollbar-thumb
        background-color: $app-color

.light-mode
    $bg-surface: #f5f5f5
    $color: #243746
    $bg: #f3f5f4

    body
        background-color: $bg
        color: $color
        transition: .4s all

    .bg-surface-color
        background-color: $bg-surface

.dark-mode
    $bg-surface: #1e1e1e
    $color: #ebf4f1
    $bg: #121212

    body
        background-color: $bg
        color: $color
        transition: .4s all
        
    .bg-surface-color
        background-color: $bg-surface
    
    .gl-dark-bg-transparent
        background-color: transparent
        border: 1px solid #ffffff

.gl
    &-readable-line-length
        max-width: 820px
    
    &-link-color
        color: $app-color

    &-wave
        position: absolute
        bottom: 0
        left: 0
        z-index: -1
    
    &-btn
        cursor: pointer